/*********************** Stage1 ***********************/
/* General */
.point {
    cursor: pointer;
}
/* General end */
/* Header menu */
#header {
    background-color: #91413E;
    height: 96px;
}
input {
    box-shadow: none !important;
}
#user{
    background-color: #AB6F6C;
    height: 60px;
    width: 60px;
}
#bellGroup {
    position: relative;
}
#bell {
    position: absolute;
    font-size: 30px;
    top: -15px;
}
#checkGroup {
    position: absolute;
    top: -5px;
    right: -18px;
    width: 19px;
    height: 19px;
    background-color: #91413E;
    z-index: 1;
}
#check {
    position: absolute;
    font-size: 12px;
}
/* Header menu end */

/* User panel */
#profileMenu {
    height: 100px;
    background-color: #91413E;
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid #f9f9f9;
    position: absolute;
    bottom: 0px;
    right: 410px;
}
#profileDisplay {
    background-color: #AB6F6C;
    height: 180px;
    width: 460px;
    position: absolute;
    top: 220px;
    left: 13vw;
    border: 6px solid #f9f9f9;
}
#profileFoto {
    border: 6px solid #f9f9f9;
    position: relative;
    top: -6px;
    left: -6px;
}
@media only screen and (min-width: 1701px){
    #profileDisplay {
        top: 15vw;
        left: 15vw;
    }
}
@media only screen and (max-width: 1441px){
    #profileDisplay {
        height: 150px;
        width: 350px;
        left: 12vw;
    }

    #profileFoto {
        height: 150px;
        width: 150px;
    }
    #profileDisplay>div>p {
        font-size: 18px;
    }
}
@media only screen and (max-width: 1301px){
    #profileDisplay {
        height: 120px;
        width: 270px;
    }
    #profileFoto {
        height: 120px;
        width: 120px;
    }
    #profileDisplay>div>p {
        font-size: 14px;
    }
}
@media only screen and (max-width: 1201px){
    #profileDisplay {
        top: 15vw;
    }
}
/* User panel end */

/* Gallery */
#gallery {
    background-color: #AB6F6C;
}
.bgpil {
    background-color: #AB6F6C;
}
@media only screen and (max-width: 1441px){
    .imgpil {
    height: 45px;
    } 
}
@media only screen and (max-width: 1201px){
    .imgpil {
    height: 30px;
    } 
}

/* Gallery end */

/*********************** Stage2 ***********************/

.pil {
    background-color: #AB6F6C;
    border-radius: 60px;
}
.pil2 {
    border-radius: 75px;
    max-height: 400px;
}
#checkGroup2 {
    position: absolute;
    top: -5px;
    right: -18px;
    width: 19px;
    height: 19px;
    background-color: #AB6F6C;
    z-index: 1;
}
.mirror {
    transform: scale(-1, 1);
}
#firstPill {
    height: 650px;
}
#secondPill {
    height: 33%;
}
#nextPill {
    height: 63%;
}
#line {
    border-color: #AB6F6C;
}
.light {
    background-color: rgba(171, 112, 109, 0.377);
}
.iColor {
    color: #AB6F6C;
}
.friend {
    position: relative;
    width: 100%;
}
.plus {
    background-color: #AB6F6C;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    position: absolute;
    left: 25%;
    top: 10%;
}
.plusText {
    font-size: 70px;
    position: absolute;
    top: -25px;
}
.carContainer {
    position: relative;
    width: 100%;
}
.price {
    position: absolute;
    bottom: 10%;
    background-color: rgba(171, 111, 108, 0.596);
    border-radius: 10px;
}