/* Header menu */
#header {
    background-color: #91413E;
    height: 92px;
}
input {
    box-shadow: none !important;
}
#user{
    background-color: #AB6F6C;
    height: 60px;
    width: 60px;
}
#bellGroup {
    position: relative;
}
#bell {
    position: absolute;
    font-size: 30px;
    top: -15px;
}
#checkGroup {
    position: absolute;
    top: -5px;
    right: -18px;
    width: 19px;
    height: 19px;
    background-color: #91413E;
    z-index: 1;
}
#check {
    position: absolute;
    font-size: 12px;
}
/* Header menu end */

/* User panel */
#profile {
    height: 480px;
}
#profileMenu {
    height: 119px;
    background-color: #91413E;
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid #f9f9f9;
    position: absolute;
    bottom: 0px;
    right: 475px;
  }
  #profileDisplay {
    background-color: #AB6F6C;
    height: 180px;
    width: 460px;
    position: relative;
    top: -220px;
    left: 280px;
    border: 6px solid #f9f9f9;
  }
  #profileFoto {
    border: 6px solid #f9f9f9;
    position: relative;
    top: -6px;
    left: -6px;
  }
/* User panel end */

/* Gallery */
#gallery {
    background-color: #AB6F6C;
}
.bgpil {
    background-color: #AB6F6C;
}
/* Gallery end */